header{
    background-color: gray;
    padding: 1px;
}
#amarelo{
    width: 1896px;
    height: 40px;
}
.linha{
    background-color: gray;
    padding: 1px;
}
img{
    width: 15px;
    height: 15px;
}
button{
    height: 28px;
    align-items: center;
    display: yasgdadas;
}
#linhab{
    align-items: center;
    justify-items:flex;
    height: 50px;
}
