.yo
{

    padding:100px;
    margin-right: 600px;
    display:flex;
    background-color:rgb(108, 188, 241);
    border-radius:30px;}
#robo{
    width: 260px;
    height: 260px;
    

}
.menu

#menu_do_robo {
    margin:5px;
    padding:100px;
    margin-right: 600px;
    display:flex;
    background-color:rgb(97, 181, 238);
    border-radius:30px;
}
body{
    background-color: rgb(194, 196, 196);
    padding: 1px;
    display:flex;
}
 


