.yo
{

    padding:100px;
    margin-right: 600px;
    display:flex;
    background-color:rgb(177, 204, 221);
    border-radius:30px;}
#robo{
    width: 260px;
    height: 260px;
    

}
.menu

#menu_do_robo {
    margin:5px;
    padding:100px;
    margin-right: 600px;
    display:flex;
    background-color:rgb(97, 181, 238);
    border-radius:30px;
}
body{
    background-color: rgb(255, 255, 255);
    padding: 1px;
    display:flex;
}
 


